@import "../responsivity/media-queries";

.aboutSection{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;

    @include screen(extra-small, small){
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    &__left{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 70vh;
        margin-left: 1.2rem;

        @include screen(extra-small, small){
            margin-left: 0%;
            text-align: center;
            height: auto;
            gap: 2rem;
        }

        @include screen(small, large){
            justify-content: flex-start;
            margin-left: 0.5rem;
            height: 50vh;
            gap: 1.5rem;
        }

        &--location{

            h3{
                font-family: 'Roboto', sans-serif;
                letter-spacing: 0.2rem;
            }
        }

        &--title{
            h1{
                font-family: 'Roboto', sans-serif;
                font-size: 3rem;
                line-height: 4rem;

                @include screen(small, medium){
                    font-size: 2rem;
                    line-height: 2.7rem;
                }
            }
        }

        &--info{
            h3{
                font-family: 'Roboto', sans-serif;
                font-size: 1.5rem;
                line-height: 2rem;
                @include screen(extra-small, small){
                    font-size: 1.3rem;
                    line-height: 1.6rem;
                }

                @include screen(small, medium){
                    font-size: 1rem;
                    line-height: 1.5rem;
                }
            }
        }

        &--links{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            a{
                font-family: 'League Gothic', sans-serif;
                text-decoration: none;
                color: black;
                font-size: 1.5rem;
                letter-spacing: 0.2rem;

                @include screen(extra-small, small){
                    letter-spacing: 0.1rem;
                    font-size: 1.3rem;
                    flex-wrap: wrap;
                }

                @include screen(small,medium){
                    letter-spacing: 0rem;
                    font-size: 1.2rem;
                }
            }
            .link-icon:hover{
                animation-name: iconEffect;
                animation-duration: 0.5s;
            }
            @keyframes iconEffect {
                from{
                    transform: rotate(0deg);
                }
                to{
                    transform: rotate(360deg);
                }
            }
         
        }
    }

    &__right{

        &--img{
            width: 400px;
            height: 400px;
            border-radius: 50%;
            background-image: url("../../../images/68466531-mind-wallpapers-removebg-preview.png");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, 
            rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

            @include screen(extra-small, small){
                width: 300px;
                height: 300px;
            }
            @include screen(small, medium){
                width: 300px;
                height: 300px;
            }
        }
    }
}