@import "./navigation.css";
@import "./nav-right-side/right-side.css";
@import "./about-section/about-section.css";
@import "./more-about-me/more-about-me.css";
@import "./skils/skils.css";
@import "./tasks/tasks.css";

*{
    scroll-behavior: smooth;
    font-family: 'League Gothic', sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: #F0E6E6;

}
.hero{
    height: auto;
}
.hide{
   opacity: 0;
}
.hideMenu{
    margin-left: -350px;
}
.showIcon{
    animation-name: show;
    animation-duration: 2s;
    animation-delay: 4s;
}
@keyframes show {
    from{
        opacity: 0;
        transform: rotate(0deg);
    }
    to{
        opacity: 1;
        transform: rotate(360deg);
    }
}
.hideIcon{
    animation-name: hide;
    animation-duration: 2s;
    animation-delay: 3s;
}
@keyframes hide {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.scrollArrow{
    background-color: none;
    position: fixed;
    right: 4%;
    bottom: 10%;
    z-index: 5;
    cursor: pointer;
    animation-name: showScroll;
    animation-duration: 1s;
    animation-fill-mode: forwards;

    .fa-square-caret-down{
        font-size: 3rem;
    }
}
@keyframes showScroll {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.scrollArrow:hover{
    animation-name: rotate;
    animation-duration: 0.5s;
}
@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(180deg);
    }
}

.hideScroll{
    display: none;
}