@import "./responsivity/media-queries.scss";

%navLinksStyle{
    letter-spacing: 0.4rem;
    font-size: 1.8vw;
    text-decoration: none;
    color: black;
    background: transparent;
}

.navSection{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: start;
    height: 10vh;
    margin-top: 20px;

    &__left{
        width: 100%;
        
        &--nav{
            display: flex;
            justify-content: space-evenly;

            @include screen(extra-small, small){
                flex-direction: column;
                position: absolute;
                height: 20vh;
            }

            @include screen(small, medium){
                flex-wrap: wrap;
                margin: 5px;
                align-items: center;
            }

            .icons{
                @include screen(extra-small, small){
                    display: flex;
                }
                .menu-open-icon{
                    display: none;

                    @include screen(extra-small, small){
                        transition: transform 0.5s;   
                        display: flex;       
                        font-size: 2.5rem;        
                    }
                }

                .menu-close-icon{
                    display: none;

                    @include screen(extra-small, small){
                        display: flex;
                        font-size: 2.5rem;
                    }
                }
            }

            a{
                cursor: pointer;
               @extend %navLinksStyle;
               position: relative;
               overflow: hidden;
            
               @include screen(extra-small, small){
                font-size: 1.5rem;
                transition: 0.5s ease;
               }

               @include screen(small, medium){
                margin-left: 0px;
                font-size: 1rem;
                letter-spacing: 0.1rem;
               }

               @include screen(medium, wide){
                margin-left: 0px;
                font-size: 1.2rem;
               }
               @include screenMax(wide){
                margin-left: 0px;
               }
             }

             a:before{
                content: "";
                position: absolute;
                opacity: 0;
                width: 100%;
                height: 3px;
                top: 0%;
                left: 100%;
                background: red;
                transition: all 0.5s ease-in-out;
        
        }
            a:hover::before{
                opacity: 0.9;
                left: 0%;
        
            }
        }
    }
    
    &__right{
        &--mail{
            a{
                @extend %navLinksStyle;

                @include screen(extra-small, small){
                    font-size: 0.8rem;
                    letter-spacing: 0.2rem;
                   }
            }
        }

        &--lang{
            position: absolute;
            right: 2%;
            top: 2%;

            a{
                color: black;
                text-decoration: none;
            }
            .icon{
                font-size: 1.5rem;
                cursor: pointer;

                @include screen(extra-small, small){
                    font-size: 1.3rem;
                }
            }

            @include screen(extra-small, small){
                top: 5.5%;
            }
        }
    }
}