.hero{
    &__right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &--photo{
            width:500px;
            height: 500px;
            background-image: url(".../../../../../images/20210913_154745_20210913_160543_20210913_160637-removebg-preview.png");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 50%;
            
        }

        &--mail{
            height: 15vh;
        }
    }
}